%h4 Class 
  %code envision.#{name}
  - if (summary) {
  :&nbsp;
  %span.class-summary #{summary}
  - }

= '<div class="class-description">'
- if (description) {
- description = '<p>' + description.replace(/\n\n/g, '</p><p>') + '</p>';
.description= description
- }

- if (params) {
%h5 Configuration:
.parameters
  %p An object is submitted to the constructor for configuration.
  %ul
    - params.forEach(function (param) {
    %li.param
      %code #{param.name}
      %span #{param.description}
    - });
- };

%h5 Methods:

